<p style="color: green"><%= notice %></p>

<h1>Material types</h1>

<div id="material_types">
  <% @material_types.each do |material_type| %>
    <%= render material_type %>
    <p>
      <%= link_to "Show this material type", material_type %>
    </p>
  <% end %>
</div>

<%= link_to "New material type", new_material_type_path %>
